{% extends 'base.html' %}

{%block title%}About{%endblock%}

{% block content %} 

        <h1 class='about-text'>Efficient Frontier</h1>
        <p class='about-text'>
            This website have the intent to show my skills with Finance and Programming languages to create, 
            reproduce and deploy my own solutions besides that i'm not too concern about the front-end.
        </p>
        <p class='about-text'>
            I made a Flask application to deploy a Markowitz model that calculate Efficient Frontier of 10.000 simulated portfolios,
            using libraries Numpy, Pandas, Plotly, Yahoofinance...
        </p>

        <p class='about-text'>
            The efficient frontier from Markowitz explain that given a N number of stocks in a portfolio, 
            how could the mannager know how much to buy of each stock to get the better return given some level of risk.
        </p>    
            





    
{%endblock%}