{% extends 'base.html' %}

{% block title %} Predicted {%endblock%}

{% block content %}
<div class='container text-center'>
{% if data[-1] != [] %}
<div align='center'>The ticker {{data[-1] | trim("[]") }} doesn't exist in yahoo finance.</div>
{% endif %} 

<div class='row'> 
    <div class='col' align='right'> max sharpe ratio{{data[0] | safe  }}</div>
    <div class='col' align='left'>  min volatility{{data[1] | safe | center }} </div>
</div>


<div class='row'>
    <div class='col' align='center'>
    <div id='chart' class='chart'” align='center'></div>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
        var graphs = {{data[2] | safe}};
        Plotly.plot('chart',graphs,{});
    </script>
    </div>
</div>


<div class='row'>
    <div class='col' id='chart1' align='center'>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
        var graphs1 = {{data[3] | safe }};
        Plotly.plot('chart1', graphs1, {});
        </script>
    </div>
</div>


<div class='row'>
    <div class='col' id='chart1' align='center'>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
        var graphs1 = {{data[4] | safe }};
        Plotly.plot('chart1', graphs1, {});
        </script>
    </div>
</div>


</div>

{% endblock %}